.cards-container {
  .cards-wrapper {
    margin-top: var(--spacing-xbig);

    .cards > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
      gap: var(--spacing-medium);

      > li {
        border: var(--border-default);
        border-radius: var(--shape-border-radius-4);
        background-color: var(--background-color);
        overflow: hidden;
        transition: all 0.2s ease-out;

        &:hover {
          box-shadow: var(--shape-shadow-3);
        }
      }
    }

    .cards .cards-card-body {
      margin: var(--spacing-small);
    }

    .cards .cards-card-image {
      line-height: 0;
    }

    .cards > ul > li img {
      width: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
    }
  }
}

/* Desktop only styles */
@media (min-width: 900px) {
  .cards-container {
    .cards-wrapper {

    }
  }
}
