header nav .minicart-panel {
    display: block !important;
    width: 100%;
    position: fixed;
    top: 64px;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.25s ease-out;
}
header nav .minicart-panel.nav-tools-panel.nav-tools-panel--show {
        display: inline !important;
        display: initial !important;
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
header nav .minicart-panel .cart-cart-summary-list__heading {
        border-bottom: none;
        margin-bottom: var(--spacing-big);
    }
header nav .minicart-panel .cart-cart-summary-list__heading .mini-cart-heading {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: var(--spacing-small);
        }
header nav .minicart-panel .cart-cart-summary-list__heading .mini-cart-heading .mini-cart-heading__title {
                font: var(--type-headline-2-strong-font);
            }
header nav .minicart-panel .cart-cart-summary-list__heading .mini-cart-heading .mini-cart-heading__subtitle {
                font: var(--type-body-2-default-font);
                color: var(--color-brand-500);
            }
header nav .minicart-panel .cart-cart-summary-list__heading .cart-cart-summary-list__heading-divider {
            display: none;
        }
header nav .minicart-panel .commerce-mini-cart__close-button {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        border: 0;
        background: none;
        color: inherit;
        cursor: pointer;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        padding: 0;
        outline: none;
    }
header nav .minicart-panel .commerce-mini-cart__close-icon,
    header nav .minicart-panel .commerce-mini-cart__close-icon::before,
    header nav .minicart-panel .commerce-mini-cart__close-icon::after {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 20px;
    }
header nav .minicart-panel .commerce-mini-cart__close-icon {
        height: 22px;
    }
header nav .minicart-panel .commerce-mini-cart__close-icon::before,
    header nav .minicart-panel .commerce-mini-cart__close-icon::after {
        content: '';
        position: absolute;
        background: currentcolor;
        top: 3px;
        left: 1px;
        transform: rotate(45deg);
        transform-origin: 2px 1px;
        width: 24px;
        height: 2px;
        border-radius: 2px;
    }
header nav .minicart-panel .commerce-mini-cart__close-icon::after {
        top: auto;
        top: initial;
        bottom: 3px;
        transform: rotate(-45deg);
    }
header nav .minicart-panel .cart-mini-cart {
        max-height: calc(100vh - var(--nav-height) - 5px);
        height: 100vh;
        padding: var(--spacing-medium);
    }
header nav .minicart-panel .cart-mini-cart .cart-mini-cart__footer {
            padding-top: var(--spacing-big);
            border-top: var(--border-default);
        }
header nav .minicart-panel .cart-mini-cart .cart-empty-cart .dropin-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 620px;
    }
header nav .minicart-panel .cart-mini-cart .cart-empty-cart .dropin-card .dropin-illustrated-message__icon {
            width: 125px;
            height: 125px;
            stroke-width: 2;
            color: var(--color-neutral-800);
        }
header nav .minicart-panel .cart-mini-cart .cart-empty-cart .dropin-card .dropin-illustrated-message__heading {
            margin-bottom: var(--spacing-medium);
        }
header nav .minicart-panel .dropin-cart-list__wrapper .dropin-cart-list__item {
            border: var(--border-default);
            border-radius: var(--shape-border-radius-3);
            padding: var(--spacing-small);
        }
header nav .minicart-panel .dropin-cart-list__wrapper .dropin-cart-list__item .dropin-cart-item__image img {
                border-radius: var(--shape-border-radius-2);
            }
header nav .minicart-panel .dropin-cart-list__wrapper .dropin-cart-list__item .dropin-cart-item__title {
                font: var(--type-body-1-strong-font);
                letter-spacing: 0;
            }
header nav .minicart-panel .dropin-cart-list__wrapper .dropin-cart-list__item .dropin-cart-item__title a {
                    color: var(--color-neutral-800);
                }
header nav .minicart-panel .dropin-cart-list__wrapper .dropin-cart-list__item .dropin-cart-item__sku {
                margin: 0.5rem 0;
            }
header nav .minicart-panel .dropin-cart-item__total {
        flex-direction: row;
        gap: var(--spacing-small);
    }
header nav .minicart-panel .cart-mini-cart__footer__ctas a.dropin-button {
            box-sizing: border-box;
            height: 40px;
        }
.commerce-mini-cart__update-message {
    display: none;
    font: var(--type-body-2-default-font);
    letter-spacing: var(--type-body-2-default-letter-spacing);
}
.commerce-mini-cart__message-wrapper {
    background-color: var(--color-positive-200);
    border-radius: var(--shape-border-radius-1);
    padding: var(--spacing-xsmall);
    display: none;
    margin-bottom: var(--spacing-small);
}
.commerce-mini-cart__message-wrapper--visible,
.commerce-mini-cart__update-message--visible {
    display: block;
}
@media (min-width: 900px) {
    header nav .minicart-panel {
        width: 45%;
        max-width: 480px;
    }
}
