.shipping-infos {
    --icon-background: rgba(83, 162, 87, 0.10);
}

.section.shipping-infos {
    max-width: var(--layout-content-max-width);
    padding: 0;

    .columns-wrapper {
        .columns-4-cols,
        .columns-3-cols {
            > div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: var(--spacing-big);

                > div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--spacing-small);

                    img {
                        width: 32px;
                        background: var(--icon-background);
                        padding: 24px;
                        border-radius: 50%;
                    }

                    > p {
                        margin-top: 0;
                        margin-bottom: 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    &.contact-page-top {
        .columns-wrapper .columns-3-cols > div > div {
            gap: var(--spacing-xxsmall);
            border: var(--border-default);
            border-radius: var(--shape-border-radius-4);
            padding: var(--spacing-small);
            box-shadow: var(--shape-shadow-2);

            img {
                border-radius: 40px;
                margin-bottom: var(--spacing-small);
            }

            > p {
                word-break: break-word;

                strong {
                    font-size: 18px;
                }
            }
        }
    }
}

/* Desktop only styles */
@media (width >= 900px) {
    .section.shipping-infos {
        padding: var(--spacing-xxbig) 0;

        .columns-wrapper {
            .columns-4-cols,
            .columns-3-cols {
                > div {
                    display: flex;

                    > div {
                        img {
                            width: 48px;
                        }
                    }
                }
            }
        }

        &.contact-page-top {
            .columns-wrapper .columns-3-cols > div > div {
                gap: var(--spacing-xxsmall);
                padding: var(--spacing-big);
            }
        }
    }
}
