/* stylelint-disable no-empty-source */

:root,
.dropin-design {
  --color-brand-300: #6d6d6d;
  --color-brand-500: #454545;
  --color-brand-600: #383838;
  --color-brand-700: #2b2b2b;
  --color-neutral-50: #fff;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #f5f5f5;
  --color-neutral-300: #e8e8e8;
  --color-neutral-400: #d6d6d6;
  --color-neutral-500: #b8b8b8;
  --color-neutral-600: #8f8f8f;
  --color-neutral-700: #666;
  --color-neutral-800: #3d3d3d;
  --color-neutral-900: #292929;
  --color-positive-200: #eff5ef;
  --color-positive-500: #7fb078;
  --color-positive-800: #53824c;
  --color-informational-200: #eeeffb;
  --color-informational-500: #6978d9;
  --color-informational-800: #5d6dd6;
  --color-warning-200: #fdf3e9;
  --color-warning-500: #e79f5c;
  --color-warning-800: #cc7a2e;
  --color-alert-200: #ffebeb;
  --color-alert-500: #db7070;
  --color-alert-800: #c35050;
  --color-button-active: var(--color-brand-700);
  --color-button-focus: var(--color-neutral-400);
  --color-button-hover: var(--color-brand-600);
  --color-action-button-active: var(--color-neutral-50);
  --color-action-button-hover: var(--color-neutral-300);
  --color-opacity-16: rgb(255 255 255 / 16%);
  --color-opacity-24: rgb(255 255 255 / 24%);
  --grid-1-columns: 4;
  --grid-1-margins: 0;
  --grid-1-gutters: 16px;
  --grid-2-columns: 12;
  --grid-2-margins: 0;
  --grid-2-gutters: 16px;
  --grid-3-columns: 12;
  --grid-3-margins: 0;
  --grid-3-gutters: 24px;
  --grid-4-columns: 12;
  --grid-4-margins: 0;
  --grid-4-gutters: 24px;
  --grid-5-columns: 12;
  --grid-5-margins: 0;
  --grid-5-gutters: 24px;
  --shape-border-radius-1: 3px;
  --shape-border-radius-2: 8px;
  --shape-border-radius-3: 24px;
  --shape-border-width-1: 1px;
  --shape-border-width-2: 1.5px;
  --shape-border-width-3: 2px;
  --shape-border-width-4: 4px;
  --shape-shadow-1: 0 0 16px 0 rgb(0 0 0 / 16%);
  --shape-shadow-2: 0 2px 16px 0 rgb(0 0 0 / 16%);
  --shape-shadow-3: 0 2px 3px 0 rgb(0 0 0 / 16%);
  --shape-icon-stroke-1: 1px;
  --shape-icon-stroke-2: 1.5px;
  --shape-icon-stroke-3: 2px;
  --shape-icon-stroke-4: 4px;
  --spacing-xxsmall: 4px;
  --spacing-xsmall: 8px;
  --spacing-small: 16px;
  --spacing-medium: 24px;
  --spacing-big: 32px;
  --spacing-xbig: 40px;
  --spacing-xxbig: 48px;
  --spacing-large: 64px;
  --spacing-xlarge: 72px;
  --spacing-xxlarge: 96px;
  --spacing-huge: 120px;
  --spacing-xhuge: 144px;
  --spacing-xxhuge: 192px;
  --type-base-font-family: adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  --type-display-1-font: normal normal 300 6rem/7.2rem var(--type-base-font-family);
  --type-display-1-letter-spacing: 0.04em;
  --type-display-2-font: normal normal 300 4.8rem/5.6rem var(--type-base-font-family);
  --type-display-2-letter-spacing: 0.04em;
  --type-display-3-font: normal normal 300 3.4rem/4rem var(--type-base-font-family);
  --type-display-3-letter-spacing: 0.04em;
  --type-headline-1-font: normal normal 400 2.4rem/3.2rem var(--type-base-font-family);
  --type-headline-1-letter-spacing: 0.04em;
  --type-headline-2-default-font: normal normal 300 2rem/2.4rem var(--type-base-font-family);
  --type-headline-2-default-letter-spacing: 0.04em;
  --type-headline-2-strong-font: normal normal 700 2rem/2.4rem var(--type-base-font-family);
  --type-headline-2-strong-letter-spacing: 0.04em;
  --type-body-1-default-font: normal normal 300 1.6rem/2.4rem var(--type-base-font-family);
  --type-body-1-default-letter-spacing: 0.04em;
  --type-body-1-strong-font: normal normal 700 1.6rem/2.4rem var(--type-base-font-family);
  --type-body-1-strong-letter-spacing: 0.04em;
  --type-body-1-emphasized-font: normal normal 700 1.6rem/2.4rem var(--type-base-font-family);
  --type-body-1-emphasized-letter-spacing: 0.04em;
  --type-body-2-default-font: normal normal 300 1.4rem/2rem var(--type-base-font-family);
  --type-body-2-default-letter-spacing: 0.04em;
  --type-body-2-strong-font: normal normal 700 1.4rem/2rem var(--type-base-font-family);
  --type-body-2-strong-letter-spacing: 0.04em;
  --type-body-2-emphasized-font: normal normal 700 1.4rem/2rem var(--type-base-font-family);
  --type-body-2-emphasized-letter-spacing: 0.04em;
  --type-button-1-font: normal normal 400 2rem/2.6rem var(--type-base-font-family);
  --type-button-1-letter-spacing: 0.08em;
  --type-button-2-font: normal normal 400 1.6rem/2.4rem var(--type-base-font-family);
  --type-button-2-letter-spacing: 0.08em;
  --type-details-caption-1-font: normal normal 400 1.2rem/1.6rem var(--type-base-font-family);
  --type-details-caption-1-letter-spacing: 0.08em;
  --type-details-caption-2-font: normal normal 300 1.2rem/1.6rem var(--type-base-font-family);
  --type-details-caption-2-letter-spacing: 0.08em;
  --type-details-overline-font: normal normal 400 1.2rem/2rem var(--type-base-font-family);
  --type-details-overline-letter-spacing: 0.16em;
  --type-fixed-font-family: adobe-clean, "Roboto Mono", menlo, consolas, "Liberation Mono", monospace, system-ui, sans-serif;
  --background-color: var(--color-neutral-50);
  --nav-height: 6.4rem;
}

@font-face {
  font-family: adobe-clean;
  size-adjust: 100%;
  src: local("Helvetica");
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font: normal normal 300 1.6rem/2.4rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-body-1-default-font);
  letter-spacing: 0.04em;
  letter-spacing: var(--type-body-1-default-letter-spacing);
  margin: 0;
  color: #3d3d3d;
  color: var(--color-neutral-800);
  background-color: #fff;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  -webkit-font-smoothing: antialiased;
}

body:not(.appear) {
    display: none;
  }

header {
  grid-row: 1;
  height: 6.4rem;
  height: var(--nav-height);
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] {
    visibility: visible;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font: normal normal 300 6rem/7.2rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-display-1-font);
  letter-spacing: 0.04em;
  letter-spacing: var(--type-display-1-letter-spacing);
}

h2 {
  font: normal normal 300 4.8rem/5.6rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-display-2-font);
  letter-spacing: 0.04em;
  letter-spacing: var(--type-display-2-letter-spacing);
}

h3 {
  font: normal normal 300 3.4rem/4rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-display-3-font);
  letter-spacing: 0.04em;
  letter-spacing: var(--type-display-3-letter-spacing);
}

h4 {
  font: normal normal 400 2.4rem/3.2rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-headline-1-font);
  letter-spacing: 0.04em;
  letter-spacing: var(--type-headline-1-letter-spacing);
}

h5 {
  font: normal normal 700 2rem/2.4rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-headline-2-strong-font);
  letter-spacing: 0.04em;
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

h6 {
  font: normal normal 300 2rem/2.4rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-headline-2-default-font);
  letter-spacing: 0.04em;
  letter-spacing: var(--type-headline-2-default-letter-spacing);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  border-bottom: var(--shape-border-width-1) solid var(--color-neutral-300);
}

code,
pre {
  font: normal normal 300 1.4rem/2rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-body-2-default-font);
  letter-spacing: 0.04em;
  letter-spacing: var(--type-body-2-default-letter-spacing);
  font-family: adobe-clean, "Roboto Mono", menlo, consolas, "Liberation Mono", monospace, system-ui, sans-serif;
  font-family: var(--type-fixed-font-family);
}

pre {
  overflow: scroll;
}

main pre {
  background-color: #e8e8e8;
  background-color: var(--color-neutral-300);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
  margin: var(--spacing-xbig) var(--spacing-small);
}

input,
textarea,
select,
button {
  font: inherit;
}

a:not(.dropin-design a) {
  color: #3d3d3d;
  color: var(--color-neutral-800);
  font: normal normal 700 1.6rem/2.4rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-body-1-strong-font);
  letter-spacing: 0.04em;
  letter-spacing: var(--type-body-1-strong-letter-spacing);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:not(.dropin-design a):hover {
    color: #383838;
    color: var(--color-brand-600);
    text-decoration: underline;
  }

main a.button:-moz-any-link {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 16px 0;
  margin: var(--spacing-small) 0;
  border: 2px solid transparent;
  border: var(--shape-border-width-3) solid transparent;
  border-radius: 24px;
  border-radius: var(--shape-border-radius-3);
  padding: 0.5em 1.2em;
  font: normal normal 400 1.6rem/2.4rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-button-2-font);
  letter-spacing: 0.08em;
  letter-spacing: var(--type-button-2-letter-spacing);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: #454545;
  background-color: var(--color-brand-500);
  color: #fff;
  color: var(--color-neutral-50);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

main a.button:any-link,
button.button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 16px 0;
  margin: var(--spacing-small) 0;
  border: 2px solid transparent;
  border: var(--shape-border-width-3) solid transparent;
  border-radius: 24px;
  border-radius: var(--shape-border-radius-3);
  padding: 0.5em 1.2em;
  font: normal normal 400 1.6rem/2.4rem adobe-clean, roboto, roboto-fallback, system-ui, sans-serif;
  font: var(--type-button-2-font);
  letter-spacing: 0.08em;
  letter-spacing: var(--type-button-2-letter-spacing);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: #454545;
  background-color: var(--color-brand-500);
  color: #fff;
  color: var(--color-neutral-50);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:is(main a.button:-moz-any-link,button.button):hover, :is(main a.button:-moz-any-link,button.button):focus {
    background-color: #383838;
    background-color: var(--color-brand-600);
    cursor: pointer;
  }

:is(main a.button:any-link,button.button):hover,
  :is(main a.button:any-link,button.button):focus {
    background-color: #383838;
    background-color: var(--color-brand-600);
    cursor: pointer;
  }

.disabled:is(main a.button:-moz-any-link,button.button), :is(main a.button:-moz-any-link,button.button):disabled {
    background-color: #e8e8e8;
    background-color: var(--color-neutral-300);
    cursor: inherit;
  }

.disabled:is(main a.button:any-link,button.button),
  :is(main a.button:any-link,button.button):disabled {
    background-color: #e8e8e8;
    background-color: var(--color-neutral-300);
    cursor: inherit;
  }

.disabled:is(main a.button:-moz-any-link,button.button):hover, :is(main a.button:-moz-any-link,button.button):disabled:hover {
      background-color: #e8e8e8;
      background-color: var(--color-neutral-300);
    }

.disabled:is(main a.button:any-link,button.button):hover, :is(main a.button:any-link,button.button):disabled:hover {
      background-color: #e8e8e8;
      background-color: var(--color-neutral-300);
    }

.secondary:is(main a.button:-moz-any-link,button.button) {
    background-color: transparent;
    background-color: initial;
    border: 2px solid currentcolor;
    border: var(--shape-border-width-3) solid currentcolor;
    color: #454545;
    color: var(--color-brand-500);
  }

.secondary:is(main a.button:any-link,button.button) {
    background-color: transparent;
    background-color: initial;
    border: 2px solid currentcolor;
    border: var(--shape-border-width-3) solid currentcolor;
    color: #454545;
    color: var(--color-brand-500);
  }

.secondary:is(main a.button:-moz-any-link,button.button):hover {
      color: #383838;
      color: var(--color-brand-600);
    }

.secondary:is(main a.button:any-link,button.button):hover {
      color: #383838;
      color: var(--color-brand-600);
    }

main input:hover {
  border: 1px solid #666;
  border: var(--shape-border-width-1) solid var(--color-neutral-700);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
      content: '"';
      line-height: 0;
    }

main blockquote p::after {
      content: '"';
      line-height: 0;
    }

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
}

.icon img {
    height: 100%;
    width: 100%;
  }

main > .section {
  margin: 40px 0;
  margin: var(--spacing-xbig) 0;
}

main > .section:empty {
    display: none;
  }

main > .section > div {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
    padding: 0 var(--spacing-medium);
  }

main > .section:first-of-type {
    margin-top: 0;
  }

main > .section.light,
  main > .section.highlight {
    background-color: #fafafa;
    background-color: var(--color-neutral-100);
    margin: 0;
    padding: 40px 0;
    padding: var(--spacing-xbig) 0;
  }

main > .section[data-padding="default"] {
    padding: 4px 0;
    padding: var(--spacing-xxsmall) 0;
  }

main > .section[data-padding="small"] {
    padding: 8px 0;
    padding: var(--spacing-xsmall) 0;
  }

main > .section[data-padding="medium"] {
    padding: 16px 0;
    padding: var(--spacing-small) 0;
  }

main > .section[data-padding="large"] {
    padding: 24px 0;
    padding: var(--spacing-medium) 0;
  }

main > .section[data-padding="big"] {
    padding: 32px 0;
    padding: var(--spacing-big) 0;
  }

main > .section[data-padding="xbig"] {
    padding: 40px 0;
    padding: var(--spacing-xbig) 0;
  }

main > .section[data-padding="xxbig"] {
    padding: 48px 0;
    padding: var(--spacing-xxbig) 0;
  }

main > .section[data-padding="huge"] {
    padding: 120px 0;
    padding: var(--spacing-huge) 0;
  }

main > .section[data-padding="xhuge"] {
    padding: 144px 0;
    padding: var(--spacing-xhuge) 0;
  }

main > .section[data-padding="xxhuge"] {
    padding: 192px 0;
    padding: var(--spacing-xxhuge) 0;
  }

main > .section[data-margin="small"] {
    margin: 8px 0;
    margin: var(--spacing-xsmall) 0;
  }

main > .section[data-margin="medium"] {
    margin: 16px 0;
    margin: var(--spacing-small) 0;
  }

main > .section[data-margin="large"] {
    margin: 24px 0;
    margin: var(--spacing-medium) 0;
  }

main > .section[data-margin="big"] {
    margin: 32px 0;
    margin: var(--spacing-big) 0;
  }

main > .section[data-margin="xbig"] {
    margin: 40px 0;
    margin: var(--spacing-xbig) 0;
  }

main > .section[data-margin="xxbig"] {
    margin: 48px 0;
    margin: var(--spacing-xxbig) 0;
  }

main > .section[data-margin="huge"] {
    margin: 120px 0;
    margin: var(--spacing-huge) 0;
  }

main > .section[data-margin="xhuge"] {
    margin: 144px 0;
    margin: var(--spacing-xhuge) 0;
  }

main > .section[data-margin="xxhuge"] {
    margin: 192px 0;
    margin: var(--spacing-xxhuge) 0;
  }

@media (min-width: 900px) {
  main > .section > div {
    padding: 0 32px;
    padding: 0 var(--spacing-big);
  }
}

.dropin-design.dropin-design {
  --background-none: none 0 0% no-repeat padding-box;
}

.dropin-input-date__icon {
  z-index: 2;
}

body.columns main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 64px 16px;
  padding: var(--spacing-large) var(--spacing-small);
  box-sizing: border-box;
  gap: 24px;
  gap: var(--grid-4-gutters);
}

body.columns main > .section {
    flex: 1;
    flex-basis: 100%;
    max-width: none;
    max-width: initial;
    margin: 0;
    margin: initial;
    padding: 0;
    padding: initial;
  }

body.columns main > .section > div {
      max-width: none;
      max-width: initial;
      padding: 0;
      padding: initial;
    }

body.columns main > .section > div:not(:last-child) {
        margin-bottom: 0;
        margin-bottom: initial;
        margin-bottom: var(--gap, unset);
      }

body.columns main > .section:empty {
      display: none;
    }

@media (min-width: 600px) {
  body.columns main {
    padding: 64px 32px;
    padding: var(--spacing-large) var(--spacing-big);
  }
}

.dropin-product-item-card {
  border: medium none currentcolor;
  border: initial;
}

@media (min-width: 900px) {
  body.columns main {
    flex-direction: row;
  }

    body.columns main > .section {
      flex: 1;
      flex-basis: auto;
      flex-basis: var(--column-width, auto);
    }
}

main[hidden] {
  display: none !important;
}
